{% extends "base.html" %}
{% block s %}
    {{ msg }}
    {% if session.user_id %}
        <p>You are Register {{ session.user_id }} from db: {{ username }} <a href="/logout">logout</a>.</p>
        {% if session.name == 'ara' %}
            <p>This is for ARA</p>
        {% endif %}
    {% else %}
        <p>You are not Register. <a href="/login">login</a>.</p>
    {% endif %}
    <!DOCTYPE html>

    </head>
    <body>
    <div class="container">
        <h2>Spending Tracker</h2>
        <form action="/save" method="POST">
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" id="category" name="category">
                    <option>Shopping</option>
                    <option>Drugs</option>
                    <option>Gas Station</option>
                    <option>Rent</option>
                    <option>Groceries</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount">Amount:</label>
                <input type="number" class="form-control" id="amount" placeholder="Enter amount" name="amount">
            </div>
            <div class="form-group">
                <label for="date">Date:</label>
                <input type="date" class="form-control" id="date" name="date">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
    {% for note in notes %}
    <div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">{{ note.type }}</li>
            <li class="list-group-item">{{ note.amount }}</li>
            <li class="list-group-item">{{ note.date }}</li>
        </ul>
    </div>
    {% endfor %}



{% endblock %}